<a href="https://colab.research.google.com/github/pransil/ML_tools/blob/main/PandasFilteringExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Some pandas filtering examples
From tutorial:
https://www.youtube.com/watch?v=Lw2rlcxScZY&t=469s

In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df['last'].unique()

array(['Schafer', 'Doe'], dtype=object)

In [ ]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [ ]:
df.loc[filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [ ]:
df.loc[~filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object

In [6]:
df['last'].replace('Doe', 'Smith', inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane    Smith        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com